<?xml version="1.0"?>

<launch>
	<!-- launch Gazebo world -->
	<include file="$(find uuv_gazebo_worlds)/launch/ocean_waves.launch"/>

	<!-- launch AUV model -->
	<include file="$(find desistek_saga_description)/launch/upload_desistek_saga.launch">
	    <arg name="x" value="0.0"/>
    	<arg name="y" value="0.0"/>
    	<arg name="z" value="-5.0"/>
    	<arg name="yaw" value="0.0"/>
    </include>
	
    <!-- launch AUV Joystick controler-->
    <include file="$(find desistek_saga_control)/launch/start_cascaded_pid_with_teleop.launch">
        <arg name="joy_id" value="0"/>
    </include>

</launch>